[submodule "lib/pico-lora"]
	path = lib/pico-lora
	url = https://github.com/akshayabali/pico-lora
[submodule "lib/pico-tflmicro"]
	path = lib/pico-tflmicro
	url = https://github.com/raspberrypi/pico-tflmicro
[submodule "lib/no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = lib/no-OS-FatFS-SD-SPI-RPi-Pico
	url = https://github.com/Sedna-PocketQube-Team/no-OS-FatFS-SD-SPI-RPi-Pico
