[submodule "lib/pico-lora"]
	path = lib/pico-lora
	url = https://github.com/akshayabali/pico-lora
[submodule "lib/pico-tflmicro"]
	path = lib/pico-tflmicro
	url = https://github.com/raspberrypi/pico-tflmicro
[submodule "lib/no-OS-FatFS-SD-SPI-RPi-Pico"]
	path = lib/no-OS-FatFS-SD-SPI-RPi-Pico
	url = https://github.com/Sedna-PocketQube-Team/no-OS-FatFS-SD-SPI-RPi-Pico
[submodule "lib/ADXL345_RP2040"]
	path = lib/ADXL345_RP2040
	url = https://github.com/profi248/ADXL345_RP2040
[submodule "lib/minmea"]
	path = lib/minmea
	url = https://github.com/kosma/minmea
